- manifest_path = pwa['short-name'] + '.webmanifest'
doctype html
html(lang='en')
  head
    title= pwa.name
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='theme-color', content=pwa.theme_color)
    meta(name='description', content=pwa.description)
    link(rel='stylesheet', href='style.css')
    link(rel='icon', href='icons/icon_128.png')
    link(rel='manifest', href=manifest_path)
    link(rel='apple-touch-icon', href='icons/icon_192.png')
    script(type='text/javascript', src='index.js')
  body(onload='initTlrc()')
    h1
      span The Lost Rat
      span.snd Compendium
    #tlrc-text
      #tlrc-article-welcome.tlrc-article
        .title Welcome
        h2 Welcome, dear reader!
        div Don't be shy, take a seat. Here you'll find every little rules feverishly crafted by the lost rat, recovered by chevalrous heroes who flee the sundered maze just before it collapse.
        div You can access this rules by the menu on your left.
        div Have a nice read.
      #tlrc-article-test.tlrc-article
        span.title Test 1
        h2 test 1
        div test 12
      //
      #tlrc-article-momentum.tlrc-article
        .title Momentum system
        h2 The Momentum system
        //
        // TODO
        //
      //
      #tlrc-article-f-elt.tlrc-article
        .title Four Elements
        h2 The Four Elements
        //
        // TODO
        //
      //
      #tlrc-article-assets.tlrc-article
        .title Assets system
        h2 The Assets system
        //
        // TODO
        //
      //
      #tlrc-article-thanks.tlrc-article
        .title Thanks
        h2 Thanks
        //
        // TODO
        //
    #tlrc-version= version
    #tlrc-menu-btn
      button(onclick='TLRC.menu.act("open")') Menu
    #tlrc-veil(onclick='TLRC.menu.act("close")')
    #tlrc-menu
      h2 Menu
      #tlrc-menu-inner
